body,html{
    width:100%;
    height: 100%;
}

carousel-inner{
    width:100%;
    height: 50%;
}

img{
    width:100%;
    height: 70%;
}

          
.card-deck{
               margin:10px;
               padding: 1rem;
           }

.card-title{
               text-align: center;
           }
.card-img-top{
               height:100%;
           }
.modal{
       color: grey;
      }


.container-fluid{
               margin-top: 200px;
               margin-left: 40px;
           }
.row h2{
      text-align: center;
      }

      #intro {
        background: url("../images/Come-Visit-Us.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;
        width: 100%;
     }